@inject IDocumentService ResearchService
@implements IDisposable

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudList Class="my-2">
        @foreach (var research in ResearchService.Researches)
        {
            <MudCard Class="my-1" Elevation="1">
                <MudCardContent>
                    <a href="research/@research.Id">
                        <MudText Class="d-block" Typo="Typo.body2">
                            <strong>@research.Title</strong>
                        </MudText>
                        <MudText Class="d-inline" Typo="Typo.subtitle2"> by </MudText>
                        <cite>
                            @foreach(var author in research.Authors ?? throw new Exception(message: "authors are null here"))
                            {
                                <MudText Class="d-inline" Typo="Typo.caption" Align="Align.Left">
                                    @author.LastName @author.MiddleInitial. ,
                                </MudText>
                            }
                            (@research.PublishDate.Year)
                        </cite>
                        <MudText Class="d-block mb-2" Typo="Typo.caption" Align="Align.Right">
                           Facilitated by : Prof. @research.Adviser.Name
                        </MudText>
                    </a>
                    <MudDivider DividerType="DividerType.FullWidth" />
                    <MudText Class="mt-2" Typo="Typo.caption" Align="Align.Justify">
                        @research.Abstract
                    </MudText>
                </MudCardContent>
                <MudDivider DividerType="DividerType.FullWidth" />
                <MudCardActions>
                    <MudButton Class="rounded-0 mx-1" Variant="Variant.Filled" StartIcon="@Icons.Filled.Download" Color="Color.Primary"
                    Size="Size.Small" DisableElevation="true">
                        Download
                    </MudButton>
                    <MudButton Class="rounded-0 mx-1" Variant="Variant.Outlined" StartIcon="@Icons.Outlined.Add" Color="Color.Secondary"
                           Size="Size.Small" DisableElevation="true">
                        Add to Library
                    </MudButton>
                   
                </MudCardActions>
            </MudCard>
        }
    </MudList>
</MudContainer>
@code {
    //[Parameter]
    //public int? OrganizationId { get; set; } = null;
    public bool _drawerOpen = false;
    public bool isAdded { get; set; }
    private int ViewResearchId;
    private Research research = new Research();
    void DrawerOpen()
    {
        _drawerOpen = !_drawerOpen;
    }
    protected override void OnInitialized()
    {
        //await ResearchService.LoadResearchs();
        ResearchService.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        ResearchService.OnChange -= StateHasChanged;
    }
}
